@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-400.ttf") format("ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-700.ttf") format("ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-400-Italic.ttf") format("ttf");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
}

.container {
  width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clear-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.button {
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border: none;
  padding: 12px 10px;
  border-radius: 4px;
  background-color: #63a63e;
}

.button:hover,
.button:focus-visible {
  background-color: #5fbb2d;
}

.button:focus {
  outline: none;
}

.button:active {
  background-color: #518534;
}

.header__contacts-block {
  padding: 13px 0 13px 0;
}

.header__contacts-wrapper {
  display: flex;
  align-items: center;
}

.header__description {
  font-size: 14px;
  font-style: italic;
  line-height: 18px;
  color: #ee3643;
  margin: 0;
  margin-left: 2px;
}

.header__address {
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  color: #32425c;
  margin-left: auto;
  margin-right: 31px;
}

.header__tel {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  color: #293449;
  padding-right: 3px;
}

.header__icon-phone {
  margin-right: 8px;
}

.header__search-side {
  background-color: #293449;
}

.header__search-wrapper {
  display: flex;
  align-items: flex-start;
}

.header__logo {
  display: flex;
  position: relative;
}

.header__logo::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -5px;
  background-color: #b52933;
}

.header__search {
  position: relative;
  flex-grow: 1;
}

.header__search-input {
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  border: 2px solid transparent;
  width: 100%;
  padding: 9px 21px 8px 52px;
  margin-right: 18px;
  background-color: transparent;
  background: transparent url("../images/icons/search.svg") no-repeat 19px 50%;
}

.header__search-input::placeholder {
  color: #ffffff;
}

.header__search-input:hover {
  background-color: #222b3b;
}

.header__search-input:focus {
  outline: none;
  border-color: transparent;
  color: #293449;
  background: #f1f5f7 url("../images/icons/search-active.svg") no-repeat 19px 50%;
}

.header__search-input:focus::placeholder {
  color: #c5c5c5;
}

.header__login {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: #f1f5f7;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 14px 0 13px 18px;
}

.header__login:hover {
  opacity: 0.8;
}

.header__login:focus {
  padding: 14px 0 13px 0;
}

.header__login-icon {
  margin-right: 13px;
}

.header__menu-side {
  background-color: #3d546f;
}

.header__menu-wrapper {
  display: flex;
  align-items: first baseline;
}

.header__menu-list {
  display: flex;
  margin-left: -18px;
}

.header__menu-link {
  display: block;
  font-weight: 24px;
  color: #ffffff;
  text-decoration: none;
  padding: 19px 23px 27px 23px;
  background-color: transparent;
}

.header__menu-link:hover,
.header__menu-link:focus-visible {
  color: #c5c5c5;
  background-color: #32425c;
}

.header__menu-link:focus {
  outline: none;
}

.header__menu-link:active {
  color: #ffffff;
  text-shadow: 0 0 .8px #ffffff, 0 .8px #ffffff;
  background-color: #32425c;
}

.header__user-menu-list {
  display: flex;
  align-items: center;
  align-self: center;
  margin-left: auto;
  margin-right: 26px;
}

.header__user-menu-item:not(:last-child) {
  margin-right: 23px;
}

.header__user-menu-link {
  display: block;
  color: #ffffff;
  opacity: 0.6;
}

.header__user-menu-link:hover {
  opacity: 1;
}

.header__user-menu-link:focus-visible {
  outline: 2px solid rgba(255, 255, 255, 0.25);
  outline-offset: 6px;
  border-radius: 1px;
}

.header__user-menu-link:active {
  opacity: 0.3;
}

.header__button-order {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding: 12px 11px;
  border-radius: 4px;
  background-color: #63a63e;
  margin-right: 3px;
}
